<div *ngIf="pokemon" (click)="displayPokemonDetails()">
    <div class="pokemon-display-img">
        <!--  
            <img [src]="isShinyPokemon() ? pokemon.spriteShinyURL : pokemon.spriteURL" [alt]="pokemon.name">
        -->
        <img [src]="pokemon.spriteURL" [alt]="pokemon.name">
    </div>

    <div class="pokemon-details">
        <p class="pokemon-id">#{{ pokemon.id }}</p>

        <div class="pokemon-name-type">
            <p class="pokemon-name">{{ pokemon.name | titlecase }}</p>
            <p>{{ pokemon.types.join(', ') }}</p>
        </div>
    
        <!-- Show types with color
        <p class="pokemon-type">
            <span *ngFor="let type of pokemon.types" [ngClass]="type.toLowerCase()">{{ type }}</span>
        </p>
        -->
    </div>
</div>