<div *ngIf="pokemon">
    <!-- 
    <div class="pokemon-display-img pointable">
        <img [src]="isShinyPokemon() ? pokemon.spriteSerebiShinyURL : pokemon.spriteSerebiURL" [alt]="pokemon.name" (click)="playPokemonCry()">
    </div>
     -->
    
    <div class="pokemon-display-img pointable">
        <img 
            [src]="isShinyPokemon() ? shinySpriteURL : normalSpriteURL" 
            [alt]="pokemon.name" 
            (error)="onImageError()"
            (click)="playPokemonCry()"
        >
    </div>
</div>