<div class="pokemon-displayer-content" *ngIf="pokemon">
    <div class="pokemon-display-img">
        <img [src]="pokemon.spriteURL" [alt]="pokemon.name" (click)="playPokemonCry()">
    </div>
    
    <div class="pokemon-displayer-details">
        <p class="pokemon-id">#{{ pokemon.id }}</p>
        <p class="pokemon-name">{{ pokemon.name | titlecase }}</p>
    
        <div class="pokemon-dimensions">
            <span class="pokemon-height"><i class="fas fa-ruler"></i> {{ pokemon.height }}'</span>
            <span class="pokemon-wright"><i class="fa-solid fa-weight-scale"></i> {{ pokemon.weight }} kg</span>
        </div>
    
        <p class="pokemon-type">
            <span *ngFor="let type of pokemon.types" [ngClass]="type.toLowerCase()">{{ type }}</span>
        </p>
    </div>
</div>