
<div class="credits">
    <div class="credits-line"></div>
    <div class="credits-main">
        <h1>Credits</h1>
        <p>Developed by <a href="https://linktr.ee/tbarracha" target="_blank">Tiago Barracha</a> for DSPA (Development of Single Page Applications) while enrolled in <a href="https://upskill.pt/" target="_blank">Upskill</a></p>

        <div class="credits-column-wrapper">
            <div class="column">
                <h3>Requirements</h3>
                <ul>
                    <li>Angular Pipes</li>
                    <li>Angular Directives</li>
                    <li>Angular Services</li>
                    <li>Routing</li>
                    <li>Angular Guards</li>
                    <li>Interceptors</li>
                    <li>Angular Forms</li>
                </ul>
            </div>
            
            <div class="column">
                <h3>Technologies</h3>
                <ul>
                    <li>
                        Angular
                    </li>
                    <li>
                        PokeApi
                    </li>
                    <li>
                        VS Code
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
    
    <p>Instructor: Paulo Proença</p>
</div>