<div class="credits">
    <h1>Credits</h1>
    <p>Project developed by Tiago Barracha for DSPA (Development of Single Page Applications) in Upskill</p>
    
    <h3>Technologies</h3>
    <ul>
        <li>
            PokeApi
        </li>
        <li>
            Angular
        </li>
        <li>
            VS Code
        </li>
    </ul>

    <h3>Requirements</h3>
    <ul>
        <li>Angular Pipes</li>
        <li>Angular Directives</li>
        <li>Angular Services</li>
        <li>Routing</li>
        <li>Angular Guards</li>
        <li>Interceptors</li>
        <li>Angular Forms</li>
    </ul>

</div>