/* You can add global styles to this file, and also import other style files */
@import "~@fortawesome/fontawesome-free/css/all.css";

// colors
$red: #fb4d45;
$redDark: #c63a33;
$black: #262626;
$gray: #496a7f;
$grayHover: #eeefef;
$grayLight: #d8dbdb;
$grayMedium:rgb(132, 132, 132)b;
$accent: #fbfbfb;
$blackDropShadow: #5d5d5d3c;

// pokemon types color
$type-normal: #9f9e8e;
$type-fire: #fc4323;
$type-water: #3398fe;
$type-electric: #ffcc33;
$type-grass: #76cc54;
$type-ice: #66cdfe;
$type-fighting: #ba5444;
$type-poison: #ab5499;
$type-ground: #dcba55;
$type-flying: #8899ff;
$type-psychic: #fe5499;
$type-bug: #aabb22;
$type-rock: #ae9f61;
$type-ghost: #6666ba;
$type-dragon: #7666ef;
$type-dark: #25273d;
$type-steel: #aaaabb;
$type-fairy: #ef98ee;

* {
    font-family: Helvetica, sans-serif;
}

body {
    margin: 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pointable {
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    color: azure;

    background-color: $red
}

.header-img {
    height: 100%;
}

input {
    outline: 0;
}

.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    height: 48px;
    background-color: $redDark;
    z-index: 999;
}

.search-input {
    outline: 0;
    border: none;
    border-radius: 16px;
    width: 80%;
    height: 60%;
    padding-left: 8px;
}

.content {
    display: flex;
    height: 100%;
    width: 100%;
}

.pokemon-list {
    flex: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    box-sizing: border-box;
    //padding-left: 8px;
}

.pokemon-displayer {
    flex: 1;
    overflow-y: auto;
    background-color: $accent;
    position: sticky;
    top: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon-displayer img {
    filter: drop-shadow(0px 14px 8px $blackDropShadow);
}

.pokemon-displayer-content {
    width: 80%;
    //display: flex;
}

.pokemon-displayer.expanded {
    height: auto;
    width: auto;
}

.pokemon-displayer-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:start;
    margin-left: 35%;
}

.pokemon-list-element {
    box-sizing: border-box;
    width: 33.33%;
    height: 33.33vh;
}

.pokemon-list-element:hover {
    background-color: $grayHover;
}

.pokemon-list-element:hover img {
    filter: drop-shadow(0px 12px 8px $blackDropShadow);
}

.pokemon-name {
    text-transform: uppercase;
    font-weight: bold;
    color: $black;
}

.pokemon-id {
    color: $grayLight;
    font-size: smaller;
    font-weight: bold;
}

.pokemon-details {
    margin: 16px 8px 0px 8px;
}

.pokemon-name-type p {
    margin: 0;
}

.pokemon-dimensions {
    display: inline-flex;
}

.pokemon-height,
.pokemon-weight {
    width: 48px;
    margin-right: 8px; /* Add spacing between height and weight */
}

.pokemon-display-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Type Bean
@mixin pokemonTypeBean($backgroundColor, $textColor) {
    height: 24px;
    width: 48px;
    background-color: $backgroundColor;
    color: $textColor;
    
    border-radius: 16px;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 5px;

    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.normal {
    @include pokemonTypeBean($type-normal, $accent);
}

.fire {
    @include pokemonTypeBean($type-fire, $accent);
}

.water {
    @include pokemonTypeBean($type-water, $accent);
}

.electric {
    @include pokemonTypeBean($type-electric, $black);
}

.grass {
    @include pokemonTypeBean($type-grass, $accent);
}

.ice {
    @include pokemonTypeBean($type-ice, $accent);
}

.fighting {
    @include pokemonTypeBean($type-fighting, $accent);
}

.poison {
    @include pokemonTypeBean($type-poison, $accent);
}

.ground {
    @include pokemonTypeBean($type-ground, $black);
}

.flying {
    @include pokemonTypeBean($type-flying, $accent);
}

.psychic {
    @include pokemonTypeBean($type-psychic, $accent);
}

.bug {
    @include pokemonTypeBean($type-bug, $accent);
}

.rock {
    @include pokemonTypeBean($type-rock, $accent);
}

.ghost {
    @include pokemonTypeBean($type-ghost, $accent);
}

.dragon {
    @include pokemonTypeBean($type-dragon, $accent);
}

.dark {
    @include pokemonTypeBean($type-dark, $accent);
}

.steel {
    @include pokemonTypeBean($type-steel, $accent);
}

.fairy {
    @include pokemonTypeBean($type-fairy, $accent);
}

.cry-button button {
    height: 24px;
    width: 128px;
    
    border: 0;
    outline: 0;
    background-color: $grayLight;
    color: $accent;
    border-radius: 16px;
}

.credits-text {
    color: $grayLight;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 8px;
    margin-right: 8px;
    margin-right: 8px;
}

.credits {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 16px;
    margin-right: 16px;
}

.credits-main {
    color: $black;
    margin-bottom: 32px;
}

.credits-secondary {
    display: inline-flex;
    color: #868585;
    margin-bottom: 32px;
    width: 100%;
}

.credits-secondary-column {
    flex: auto;
    width: 50vh;
}